:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-de-fundo: #00030c;
    }
    
    body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    }
    
    .principal{
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.folhape.com.br%2Fcolunistas%2Ffolha-pet%2Folho-de-cachorro-pidao-realmente-existe-caes-usam-expressoes-para-se-comunicar-com-humanos%2F30480%2F&psig=AOvVaw2jcEhVNxlEhzGZhvlICTjE&ust=1684579739867000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCICiid2agf8CFQAAAAAdAAAAABAc.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    }